<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.CountryDAO">
  		
  <select id="selectCountries" parameterType="hashmap" resultType="com.boot.dto.CountryDTO">
	SELECT COUNTRY_ID AS countryId
	        ,COUNTRY_NAME AS countryName
	        ,REGION_ID AS regionId
	FROM COUNTRIES
	<if test='COUNTRY_NAME !=null '>
	WHERE COUNTRY_NAME LIKE '%'||#{COUNTRY_NAME}||'%'
	</if>
  </select>

</mapper>